<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome To Skrawl</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.tiny.cloud/1/bsaq2ko3tigb4qk7b5gb81nwseilvwl3vuco0iy8h2z3c02l/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: '#mytextarea',
            //   plugins: [ 'quickbars' ],
            plugins: 'quickbars  autolink lists  media table ',

              placeholder: "Write Your Skrawl...",
              toolbar: true,
              menubar: false,
            });
          </script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header class="side-header">
            <div class="nav-top rotate">
                <img src="../../images/logo.png" class="logo">
                <% let changeText = "Sign In" %>
            </div>
            <nav>
                <ul>
                    <li><a href="/home">My Feed</a></li>
                    <li><a href="#">My Skrawls</a></li>
                    <li><a href="#">Skrawlers</a></li>
                    <li><a href="/new-skrawl">New Skrawl</a></li>
                   
                </ul>
            </nav>
            <div class="nav-bottom rotate">
                <a href="/profile"><img class="avatar" src="../../images/post-avatar.jpeg"></a>
        
            </div>
        </header>
        