
    <div id="forg" class="forgot">
        <div>
            <h2 class="large-title">
                Forgot your password?
            </h2>
            <p class="form-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
        </div>
        <form class="block-form">
            <input type="email" placeholder="Email">
            <button class="submit">Recover Password</button>
            <div class="extra-form">
               <p>
                Did you remember your password?  <a href="#" onclick="changeView()"> Login</a>
               </p> 
               
            </div>
        </form>
        <!-- <div class="auth-wrap">
            <p>Or Signin With</p>
            <div class="flex space-between">
                <button class="submit auth"><i class="fab fa-facebook"></i> Facebook</button>
                <button class="submit auth"><i class="fab fa-google"></i> Google</button>
            </div>
        </div> -->
    </div>
    
