
    <div id="in" class="magic">
        <div>
            <h2 class="large-title">
                Sign in to continue sharing
            </h2>
            <p class="form-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
        </div>
        <form class="block-form">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="submit">Sign In</button>
            <div class="extra-form">
                <a href="#" onclick="changeView()">Don't have an account?</a>
                <a href="#" id="forg-rec" onclick="forgt()">Forgot Password</a>
            </div>
        </form>
        <div class="auth-wrap">
            <p>Or Signin With</p>
            <div class="flex space-between">
                <button class="submit auth"><i class="fab fa-facebook"></i> Facebook</button>
                <button class="submit auth"><i class="fab fa-google"></i> Google</button>
            </div>
        </div>
    </div>
    
