<div class="notifications-container" >

   <div class="sub-note">
   
    <p> <img src="../../images/notification.svg"><span>Latest Activity</span></p>
    <img src="../../images/searchy.svg">
   </div>

</div>

