    <div id="up" >
        <div>
            <h2 class="large-title">
                Share your experiences to <br>the world
            </h2>
            <p class="form-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
        </div>
        <form class="block-form">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="submit">Sign Up</button>
            <div class="extra-form">
                <a href="#" onclick="changeView()">Already have an account?</a>
                
            </div>
        </form>
        <div class="auth-wrap">
            <p>Or Signup With</p>
            <div class="flex space-between">
                <button class="submit auth"><i class="fab fa-facebook"></i> Facebook</button>
                <button class="submit auth"><i class="fab fa-google"></i> Google</button>
            </div>
            
        </div>
    
    </div>
    
