
:root {
    --primary-color: #311b91;
    --primary-light: #311b9162;
    box-sizing: border-box;
    font-family: sans-serif;
  }
body{
    margin: 0;
}
header.side-header{
    display:flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 2%;
    position:fixed;
    height: 10%;
    width:100vh;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%); 
}

.logo{
    width:100%;
}
.nav-top.rotate {
  width: 25%;
}
.button{
    background:var(--primary-color);
    color:white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 200;
    border-radius: 5px;
}
.limited-home{
    margin-left:10%;
    display: flex;
}
h1{
    margin: 0;
    font-size: 60px;
}
.main-content{
    width: 65%;
    padding: 10% 1%;
    box-sizing: border-box;
}

/* .relative{
    position: relative;
} */
.signup-signin.relative > div {
    position: absolute;
    width: 72%;
}
.magic{
    display: none;
}
.forgot{
    display: none;
}
.signup-signin{
    width: 35%;
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
    padding: 10% 5%;
    position: fixed;
    right: 0;


    display: flex;
    align-items: center;
}
.large-title{
    font-size: 40px;
    font-weight: 700;
}
.large-title::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background:#fff;
    margin-top: 20px;
}
.form-paragraph{
    font-weight: 100;
    line-height: 25px;
}
.block-form input{
    display: block;
    width: 100%;
    border: none;
    background: none;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 0 15px;
    color: #efefef;
}
input::placeholder{
    color: #efefef;
}
.submit{
    width: 100%;
    height: 40px;
    background: white;
    font-size: 18px;
    border-radius: 5px;
    color: var(--primary-color);
}

.flex{
    display: flex;
    
}
.space-between{
    justify-content: space-between;
}
.auth{
    width: 46%;
}

.fab{
    font-size: 18px;
    padding-right: 10px;
}

.auth-wrap{
    margin-top:50px;
}

.featured-card {
    width: 45%;
    overflow: auto;
    margin-bottom: 50px;
    margin: 0 2.5% 50px 0;
    box-sizing: border-box;
}
h2.humongous {
    position: fixed;
    z-index: -1;
    font-size: 200px;
    margin: 0;
    left: 5%;
    opacity: .05;
    top: 0;
}
.featured-card > div{
    float: left;
}
.featured-image-holder {
    width: 25%;
    margin-right:10px;
}
.post-text-holder {
    width:70%;
}
.featured-image-holder img {
    width: 100%;
}
.post-text-holder h3 {
    margin: 0 0 5px 0;
    font-weight: 500;
}
.post-text-holder > p {
    font-size: 14px;
    margin-top: 0;
    color: #828282;
    font-weight: 300;
}
.content-stream{
    margin-top:50px;
    display: flex;
    flex-flow: wrap;
}
em{
    color: var(--primary-color);
}
.slide-out-right {
	-webkit-animation: slide-out-right 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 20:18:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
  .slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 20:20:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


  .slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 21:40:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }

  .slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 21:42:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .extra-form {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
  }
  .extra-form a, .extra-form p{
      font-size: 14px;
      color: #fff;
      font-weight: 200;
  }


nav ul{
    padding-left: 0;
  }

nav {
    width: -webkit-fill-available;
    text-align: center;
}
nav li{
  display: inline-block;
  margin: 0 2%;
}

nav li a{
  text-decoration: none;
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  font-size: smaller ;
}
.avatar{
  width:50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transform:rotate(90deg);

}

/**** main news feed ****/
.post-card{
  display: flex;
  width:100%;
  justify-content: center;
  margin: 40px 0;
  text-decoration: none;
  color: unset !important;
}
.post-text-content {
  width: 70%;
  box-sizing: border-box;
  padding: 0 30px 0 0;
}
.post-text-content h4 {
  font-size: small;
  font-weight: 400;
}
.post-text-content h2{
 
  font-weight: 400;
}

.post-thumbnail {
  width: 30%;
  margin: auto;
  
    height: 100%;
    background-size: cover !important;
    border-radius: 10px;
}

.post-thumbnail img{
  width: 100%;
}
.post-text-content h2 {
  font-weight: 600;
  font-size: 18px;
}

.post-paragraph{
  font-size: 14px;
    margin-top: 0;
    color: #828282;
    font-weight: 300;
    line-height: 20px;
}
.date{
    font-size: 12px;
    margin-top: 5px;
    color: #828282;
    margin-bottom: 0;
}
p.comments {
  margin: 0;
  font-size: 12px;
    margin-top: 5px;
    color: #828282;
}
p.author{
  margin: 0;
  font-size: 12px;
  vertical-align: middle;
  display: flex;
    align-items: center;
}

.post-text-content h4 {
  margin: 0;
}

.thumbavatar {
  width:25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.semi-final-meta{
  display: flex;
  justify-content: space-between;

}

.notifications{
  width: 25%;
  background: #f8f8f8;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  right: 0;
  box-sizing: border-box;

}
.notifications-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-note{
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  color: #fff;
  height: 16vh;
  box-sizing: border-box;
  padding: 3% 7%;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
 
}
.welcome-note img{
  width: 5%;
}
.greetings{
  font-family: Roboto;
  font-size: 30px;
  font-weight:100;
  margin: 0;
  line-height: 49px;
}
.greetings span{
  font-size: 45px;
}

.sub-note p{
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sub-note{
  font-family: Roboto;
  padding: 0 7%;
  background: #fff;
  border-bottom: 2px solid var(--primary-light);
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}
.sub-note img{
  width:7%;
  margin-right: 10px;
}

form.compose {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tox-statusbar {
  display: none !important;
}

input.compose-title{
  height: 40px;
  outline: none;
  font-size: 35px;
  font-family: Roboto;
  border: none;
  margin-bottom: 15px;
  background: none;
}
.tox.tox-tinymce {
  border: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,.05);
}


#blah{
  /* max-width:180px; */
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    transition: 1s all;

}
.image-upload:hover > #blah{
    background-color: #311b919a;
}
.subtle::before{
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  border: 2px dashed #fff;
  transition: 2s all;
}

.geronimo::before{
  opacity: 0;
  transition: 1s all;
}
.image-upload:hover > .geronimo::before{
  opacity: 1;
 
}


.geronimo p{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s all;
}
.image-upload:hover > .geronimo p{
  opacity: 1;
  background: var(--primary-light);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=file] {
  /* padding: 10px; */
  background: #2d2d2d17;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  outline: none;
  opacity: 0;
  /* justify-content: center; */
}

.sidebar-card {
  height: 41vh;
  background: rgb(255, 255, 255);
  width: 94%;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.05);
}

.no-shadow{
  box-shadow: none !important;
}

button#publisher{
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  height: 7vh;
  text-decoration: none;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 200;
  display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.justify{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p#setimage {
  color: #fff;
  font-size: larger;
  font-weight: 200;
}


.card-title h5 {
  font-size: 18px;
  font-weight: 600;
}
.categories-select.sidebar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0  0 20px 0 !important;
}

.categories-select.sidebar-card > div {
  padding: 0 7%;
}

.category-form {
  padding: 0 !important;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.display-featured {
  width: 100%;
  height: auto;
  display: block;
}

.skrawl-title{
  font-size: 60px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.single-post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-meta {
  display: flex;
}

.name-follow {
  display: flex;
}
.date-read {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.date-read p {
  margin: 0;
}

.thumbavatar.big{
  width: 52px;
  height: 52px;
}

.subleft-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-follow p.author {
  font-size: 15px;
  margin-right: 10px;
}
.name-follow button {
  font-size: 11px;
  background: purple;
  color: white;
  border-radius: 5px;
  padding: 4px 12px;
  outline: none;
}

.single-post-meta {
  margin: 20px 0 40px 0;
}
.drop-reply-container{
  margin-top:50px;
}
.reply-form{
  width:100%;
}
.reply-form textarea{
  width:100%;
  display: block;
  font-size: large;
  outline: none;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

.reply-form input[type=submit]{
  background: var(--primary-color);
  color:#fff;
  font-size: large;
  font-weight: 200;
  margin-top:20px;
  width:20%;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
}
.name-follow.last-meta {
  display: block;
}

.bottom-meta{
  padding-top: 30px;
  margin-top: 100px;
  border-top: 1px dotted #ddd;
  border-bottom:1px dotted #ddd;
}
.bottom-meta .thumbavatar.big {
  width: 100px;
  height: 100px;
}


.bottom-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:15px;
}

.written{
  color: rgba(0, 0, 0, 0.54);
  margin:0
}

.bottom-meta .name-follow p.author {
  font-size: 22px;
  line-height: 40px;
}
.author-bio{
  color: rgba(0, 0, 0, 0.54);
  margin:0 0 18px 0;
}

.bottom-meta button{
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 300;
}

ul.share {
  padding-left: 0;
}

ul.share li{
  display: inline-block;
  list-style: none;
  margin-left: 8px;
}
ul.share li .fab{
  font-size:28px;
  padding-right: 0;
}
ul.share .fa-facebook{
  color: #3b5998;
}

ul.share .fa-twitter{
  color: #1DA1F2;
}
ul.share .fa-instagram{
  color: #C13584;
}
ul.share .fa-linkedin{
  color: #0e76a8;
}

.bottom-meta .single-post-meta{
  align-items: initial;
}
p.share{
  margin-top:0;
  text-align: right;
  font-size: small;
}

.comments-holder{
  margin-top:40px;
}
p.author.comment {
  font-size: unset;
  font-weight: 600;
}
p.comment-text {
  line-height: 25px;
  color: #636363;
}
.comments-card {
  margin: 0 0 70px 0;
  box-shadow: 0 10px 20px rgba(0,0,0,.07);
  padding: 20px;
}

.comments-none{
  display: none;
}
.comments-yes{
  display: block;
}









.inputGroup {
  background-color: #fff;
  display: block;
  /* margin: 10px 0; */
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #fff;
  border-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23311b91' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.inputGroup input {
  width: 32px;
  height: 32px;
  -webkit-box-ordinal-group: 2;
          order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}

a.destroy{
  cursor: pointer;
}

.replies-holder {
  margin-top:40px;
  margin-left: 10%;
}

.profile-group-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.profile-avatar {
  border-radius: 50%;
  height: 230px;
}

button {
  border: none;
}

ul.profile-stats {
  padding-left: 0;
  list-style: none;
  margin-top: 30px;
}
ul.profile-stats li {
  display: inline-block;
  margin-right: 32px;
}
.border-bottom {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 70px;
  margin-bottom: 40px;
}
.purple-button{
  padding: 8px 20px;
    font-size: 12px;
    font-weight: 300;
    background: purple;
    color: white;
    border-radius: 5px;
    
    outline: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}