
:root {
    --primary-color: #311b91;
    box-sizing: border-box;
    font-family: sans-serif;
  }
body{
    margin: 0;
}
header.side-header{
    display:flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 2%;
    position:fixed;
    height: 10%;
    width:100vh;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%); 
}

.logo{
    width:60%;
}
.button{
    background:var(--primary-color);
    color:white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 200;
    border-radius: 5px;
}
.limited-home{
    margin-left:10%;
    display: flex;
}
h1{
    margin: 0;
    font-size: 60px;
}
.main-content{
    width: 65%;
    padding: 10% 1%;
    box-sizing: border-box;
}
/* .relative{
    position: relative;
} */
.signup-signin.relative > div {
    position: absolute;
    width: 72%;
}
.magic{
    display: none;
}
.forgot{
    display: none;
}
.signup-signin{
    width: 35%;
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
    padding: 10% 5%;
    position: fixed;
    right: 0;


    display: flex;
    align-items: center;
}
.large-title{
    font-size: 40px;
    font-weight: 700;
}
.large-title::after{
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    background:#fff;
    margin-top: 20px;
}
.form-paragraph{
    font-weight: 100;
    line-height: 25px;
}
.block-form input{
    display: block;
    width: 100%;
    border: none;
    background: none;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 0 15px;
    color: #efefef;
}
input::placeholder{
    color: #efefef;
}
.submit{
    width: 100%;
    height: 40px;
    background: white;
    font-size: 18px;
    border-radius: 5px;
    color: var(--primary-color);
}

.flex{
    display: flex;
    
}
.space-between{
    justify-content: space-between;
}
.auth{
    width: 46%;
}

.fab{
    font-size: 18px;
    padding-right: 10px;
}

.auth-wrap{
    margin-top:50px;
}

.featured-card {
    width: 45%;
    overflow: auto;
    margin-bottom: 50px;
    margin: 0 2.5% 50px 0;
    box-sizing: border-box;
}
h2.humongous {
    position: fixed;
    z-index: -1;
    font-size: 200px;
    margin: 0;
    left: 5%;
    opacity: .05;
    top: 0;
}
.featured-card > div{
    float: left;
}
.featured-image-holder {
    width: 25%;
    margin-right:10px;
}
.post-text-holder {
    width:70%;
}
.featured-image-holder img {
    width: 100%;
}
.post-text-holder h3 {
    margin: 0 0 5px 0;
    font-weight: 500;
}
.post-text-holder > p {
    font-size: 14px;
    margin-top: 0;
    color: #828282;
    font-weight: 300;
}
.content-stream{
    margin-top:50px;
    display: flex;
    flex-flow: wrap;
}
em{
    color: var(--primary-color);
}
.slide-out-right {
	-webkit-animation: slide-out-right 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 20:18:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
  .slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 20:20:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


  .slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 21:40:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }

  .slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 21:42:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .extra-form {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
  }
  .extra-form a, .extra-form p{
      font-size: 14px;
      color: #fff;
      font-weight: 200;
  }